@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body {
  margin: 0;
  background-color: #e2e2e2;
}

header {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
nav{
  position: relative;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}
nav ul{
  margin: 0;
  display: flex;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  font-size: 14px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  padding: 0px 10px;
  text-decoration: none;
  color: #000000;
}
nav ul li a:hover{
  background: #686868;
  color: #ffffff;
  transition: all .3s;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: #fdfdfd;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffcfc;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.Logo{
  font-size: 20px;
  font-weight: 1000;
  height: 60px;
  line-height: 60px;
  padding: 0px 10px;
}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.img1{
  float: right;
}

h1 {
  font-family: 'Sriracha', cursive;
  text-align: center;
}
.item1 { grid-area: header;
        text-align: center;} 
.item2 { grid-area: menu;}
.item3 { grid-area: main; 
        text-align: center;}
.item4 { grid-area: right; 
        text-align: center;}
.item5 { grid-area: footer;
        text-align: center;
        color: #ffffff;
}
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header'
    'menu main main main right right'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}

.grid-container > div {
  background-color: #fdfbfb;
  padding: 20px 0;
  font-size: 20px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}